@model ITBanking.Core.Application.ViewModels.User.ForgotPasswordVm
@{
    ViewData["Title"] = "Forgot Password";
}

<div class="row">
    <div class="col-md-4 mx-auto">
        <h2>Forgot Password</h2>
        <hr />
        @if (Model.HasError) {
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <p>@Model.Error</p>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
        <form asp-controller="User" asp-action="ForgotPassword">
            <div class="form-group mb-3">
                <label asp-for="Email">Email: </label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div>
                <a asp-controller="User" asp-action="Index" class="btn btn-link float-start">Back</a>
                <button type="submit" class="btn btn-outline-primary float-end">Submit</button>
            </div>
        </form>
    </div>
