html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.row table tbody {
  display: block;
  overflow : auto;
  max-height: 350px;
}

/* Hide scrollbar */
.row table tbody::-webkit-scrollbar {
  display: none;
}

.row table tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}