@using ITBanking.Core.Application.ViewModels
@model IEnumerable<PaymentVm>


<div class="row">
  <table class="table table-dark table-striped table-hover text-center">
    <thead class="text-start">
      <tr>
        <th>
          Product
        </th>
        <th>
          @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
          Date
        </th>
      </tr>
    </thead>
    <tbody>
      @foreach (var item in Model)
      {
        <tr>
          <td>
            @Html.DisplayFor(modelItem => item.AccountNumber)
          </td>
          <td>
            @Html.DisplayFor(modelItem => item.Amount)
          </td>
          <td>
            @Html.DisplayFor(modelItem => item.CreatedAt)
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>